@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue-yinmn: #274c77;
  --color-blue-air-superiority: #6096ba;
  --color-gray-charcoal: #555555;
  --color-gray-battleship: #8b8c89;
  --color-white-antiflash: #e7ecef;
  --color-red-tomato: #ef6351;
  --color-platinum: #e7ecef;

  --font-poppins: "Poppins", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;

  --radius-6xl: 48px;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.875rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2.25rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 13px;
  line-height: 19.5px;
}

h6 {
  font-size: 11px;
  line-height: 16.5px;
}

p,
label {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
